<div class="tp-banner-container rs_fullwidth">
  <div class="tp-banner">
    <ul>
      <li data-transition="boxslide" data-slotamount="7" data-delay="8000">
        <%= image_tag 'voyo/demo/s-303.jpg' %>
        <div class="bg-layer op2"></div>

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bold_darkblue skewfromrightshort customout"
          data-x="15"
          data-y="120"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 4">Quality
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption large_bold_darkblue skewfromleftshort customout"
          data-x="15"
          data-y="197"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="1100"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 7">&amp; Reliability
        </div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption small_thin_grey alt1 customin customout"
          data-x="15"
          data-y="265"
          data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1300"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 8">At The Company, we pride ourslefes in the quality<br> products we create. All products come with a 10 year<br> manufacturer warranty, to give you ultimate peace of mind.
        </div>

      </li>

      <li data-transition="boxslide" data-slotamount="7" data-delay="10000">
         <%= image_tag 'voyo/demo/s-306.jpg' %>

         <div class="bg-layer op2"></div>

          <!-- LAYER NR. 1 -->
        <div class="tp-caption finewide_large_white customin customout tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="-40"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="chars"
          data-splitout="chars"
          data-elementdelay="0.08"
          data-endelementdelay="0.08"
          data-end="4000"
          data-endspeed="500"
          style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">BUSINESS
        </div>



        <!-- LAYER NR. 2 -->
        <div class="tp-caption finewide_medium_white randomrotate customout tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="chars"
          data-splitout="chars"
          data-elementdelay="0.08"
          data-endelementdelay="0.08"
          data-end="4000"
          data-endspeed="500"
          style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">DEVELOPMENT
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption boldwide_small_white customin customout tp-resizeme"
          data-x="center" data-hoffset="-135"
          data-y="120"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="5500"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.08"
          data-endelementdelay="0.08"
          data-endspeed="300"
          style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;"><strong>unlimited</strong>
        </div>



        <!-- LAYER NR. 4 -->
        <div class="tp-caption whitedivider3px_vertical customin tp-resizeme"
          data-x="center"
          data-y="110"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="6000"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"
          style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption finewide_small_white randomrotate customout tp-resizeme"
          data-x="center" data-hoffset="130"
          data-y="120"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="6900"
          data-easing="Power3.easeInOut"
          data-splitin="chars"
          data-splitout="chars"
          data-elementdelay="0.08"
          data-endelementdelay="0.08"
          data-endspeed="300"
          style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">SUPPORT
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption finewide_small_white customin customout tp-resizeme"
          data-x="center" data-hoffset="130"
          data-y="160"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="7700"
          data-easing="Power3.easeInOut"
          data-splitin="words"
          data-splitout="words"
          data-elementdelay="0.12"
          data-endelementdelay="0.12"
          data-endspeed="300"
          style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">WARRANTY
        </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption finewide_small_white customin customout tp-resizeme"
          data-x="center" data-hoffset="130"
          data-y="200"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="8200"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.08"
          data-endelementdelay="0.08"
          data-endspeed="300"
          style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">EVERYTHING
        </div>


      </li>
      <li data-transition="fade" data-slotamount="7" data-delay="8000" >

        <!-- MAIN IMAGE - KENBURNS -->
        <%= image_tag 'voyo/demo/s-201-a.jpg', alt: 'kenburns1',
          data: {
            bgposition: 'left bottom',
            kenburns: 'on',
            duration: 8000,
            ease: 'Power4.easeInOut',
            bgfit: 150,
            bgfitend: 100,
            bgpositionend: 'center top' } %>


        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bg_black customin customout tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="-70"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="400"
          data-easing="Power4.easeOut"
          data-end="1500"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 2">ABC Company
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption largegreenbg customin stl tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="-70"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="2000"
          data-easing="Back.easeOut"
          data-end="3000"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3">we can help <strong>your business</strong>
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption largepinkbg uppercase customin customout tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="center" data-voffset="-70"
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="3500"
          data-easing="Back.easeOut"
          data-endspeed="300"
          data-endeasing="Back.easeIn"
          style="z-index: 4">reach new horizons
        </div>
      </li>
    </ul>
  </div>
</div>


<section class="section-3 custom-section cs2 mt0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title st2 mb25">
          <%= edit_text(@page, 'home_page_main_feature_title', 'We offer a wide range of products that can perfectly suit your business needs.') %>
        </h2>
        <%= edit_link(@page, 'home_page_main_feature_link', 'See Products', products_path, class: 'btn btn-primary') %>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 xs-box2 br-box">
        <div class="box-content">
          <%= image_tag 'voyo/icons/full-color/128px/browser.png' %>
          <h3><%= edit_text(@page, 'home_page_main_section_1_title', 'Products') %></h3>
          <p><%= edit_text(@page, 'home_page_main_section_1_body', 'View our wide range of products that can suit any of your business needs.') %></p>
          <%= edit_link(@page, 'home_page_main_section_1_link', 'products', products_path, class: 'read-more') %>
        </div>
      </div>
      <div class="col-sm-4 xs-box2 br-box">
        <div class="box-content">
          <%= image_tag 'voyo/icons/full-color/128px/stack.png' %>
          <h3><%= edit_text(@page, 'home_page_main_section_2_title', 'Forums') %></h3>
          <p><%= edit_text(@page, 'home_page_main_section_2_body') %></p>
          <%= edit_link(@page, 'home_page_main_section_2_link', 'read more', '#', class: 'read-more') %>
        </div>
      </div>
      <div class="col-sm-4 br-box last">
        <div class="box-content">
          <%= image_tag 'voyo/icons/full-color/128px/phone.png' %>
          <h3><%= edit_text(@page, 'home_page_main_section_3_title', 'Support') %></h3>
          <p><%= edit_text(@page, 'home_page_main_section_3_body', 'Contact us on our 24/7 customer support phone line.') %></p>
          <%= edit_link(@page, 'home_page_main_section_3_link', 'read more', contact_path, class: 'read-more') %>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-3 section-gray mb0">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-6 xs-box2">
        <h2 class="section-title-2 text-left mb25"><%= edit_text(@page, 'home_page_numbers_summary_title', 'Incredible Numbers') %></h2>
        <p class="mb30"><%= edit_text(@page, 'home_page_numbers_summary_body', 'Consumer demand for the products we supply has rocketed in the last 6 months, we are able to cater for all your manufacturing needs.') %></p>
      </div>
      <div class="col-sm-6">
        <div class="rs-canvas animated-chart about-canvas">
          <canvas id="line-chart" height="300" width="450" class="init-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 sm-box2">
        <%= image_tag 'voyo/demo/p-207.jpg', class: 'mb10' %>
        <h3 class="box-title bt4 bt5 mb5"><%= edit_text(@page, 'home_page_safe_and_secure_header_1', 'safe and secure') %></h3>
        <p class="mb0"><%= edit_text(@page, 'home_page_safe_and_secure_body_1') %></p>
      </div>
      <div class="col-sm-6 col-md-3 sm-box2">
        <%= image_tag 'voyo/demo/p-208.jpg', class: 'mb10' %>
        <h3 class="box-title bt4 bt5 mb5"><%= edit_text(@page, 'home_page_safe_and_secure_header_2', 'reliable') %></h3>
        <p class="mb0"><%= edit_text(@page, 'home_page_safe_and_secure_body_2') %></p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="mb40 add-dropcap">
          <%= edit_text(@page, 'home_page_info_section_body') %>
        </p>
      </div>
    </div>
  </div>
</section>


<section class="custom-bg parallax mt30 large-padding stats-section" data-bg="<%= image_path "voyo/demo/s-204.jpg" %>">
  <div class="bg-layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 sm-box3">
        <div class="box-about">
          <h2 class="section-title text-left st2 mb30"><%= edit_text(@page, 'home_page_about_title', 'About our company') %></h2>
          <p class=""><%= edit_text(@page, 'home_page_about_body', 'ABC Company was founded in 1923 with the aim of providing local companies with the machinery and spare parts needed to operate a profitable business for the local community.') %></p>
          <p><%= edit_text(@page, 'home_page_about_body_2', 'After some rapid growth, ABC Company opened its first branch in Europe and since 2007 we have been the market leader in manufacturing of spare parts/machinery for industrial appliances.') %></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row mb30">
          <div class="col-xs-6 sm-box">
            <div class="box-content stats">
              <% if user_signed_in? %>
                <p><%= edit_text(@page, 'stat_number_1', '200') %></p>
              <% else %>
                <p class="timer" data-to="<%= edit_text(@page, 'stat_number_1', '200') %>" data-speed="4000"></p>
              <% end %>

              <h3><%= edit_text(@page, 'stat_title_1', 'Products') %></h3>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="box-content stats">
              <% if user_signed_in? %>
                <p><%= edit_text(@page, 'stat_number_2', '1000') %></p>
              <% else %>
                <p class="timer" data-to="<%= edit_text(@page, 'stat_number_2', '1000') %>" data-speed="4000"></p>
              <% end %>

              <h3><%= edit_text(@page, 'stat_title_2', 'Happy Customers') %></h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sm-box">
            <div class="box-content stats mb0">
              <% if user_signed_in? %>
                <p><%= edit_text(@page, 'stat_number_3', '5000') %></p>
              <% else %>
                <p class="timer" data-to="<%= edit_text(@page, 'stat_number_3', '5000') %>" data-speed="4000"></p>
              <% end %>

              <h3><%= edit_text(@page, 'stat_title_3', 'Support Tickets Answered') %></h3>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="box-content stats mb0">
              <% if user_signed_in? %>
                <p><%= edit_text(@page, 'stat_number_4', '60') %></p>
              <% else %>
                <p class="timer" data-to="<%= edit_text(@page, 'stat_number_4', '60') %>" data-speed="4000"></p>
              <% end %>

              <h3><%= edit_text(@page, 'stat_title_4', 'Employees') %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="clients-section section-3 mt0 section-gray sm-pb20">
  <div class="container">
    <div class="row animated" data-anim="fadeInUp">
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp">
        <%= image_tag 'voyo/demo/c-102.png', alt: 'client' %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp" data-delay="200">
        <%= image_tag 'voyo/demo/c-101.png', alt: 'client' %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp" data-delay="400">
        <%= image_tag 'voyo/demo/c-103.png', alt: 'client' %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp" data-delay="600">
        <%= image_tag 'voyo/demo/c-104.png', alt: 'client' %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp" data-delay="800">
        <%= image_tag 'voyo/demo/c-105.png', alt: 'client' %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 animated" data-anim="fadeInUp" data-delay="1000">
        <%= image_tag 'voyo/demo/c-106.png', alt: 'client' %>
      </div>
    </div>
  </div> <!-- END Container -->
</section>



<section class="section mb30">
  <div class="container">
    <div class="row">
      <div class="col-md-6 sm-box2">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#one">
                        <%= edit_text(@page, 'home_page_accordation_1_title', 'Sydney') %>
                      </a>
                  </h4>
              </div>
              <div id="one" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p><%= edit_text(@page, 'home_page_accordation_1_body') %></p>
                </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#two">
                        <%= edit_text(@page, 'home_page_accordation_2_title', 'San Francisco') %>
                      </a>
                  </h4>
              </div>
              <div id="two" class="panel-collapse collapse">
                <div class="panel-body">
                    <p><%= edit_text(@page, 'home_page_accordation_2_body') %></p>
                </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#three">
                      <%= edit_text(@page, 'home_page_accordation_3_title', 'London') %>
                    </a>
                  </h4>
              </div>
              <div id="three" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= edit_text(@page, 'home_page_accordation_3_body') %></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial">
          <div class="testimonial-content">
            <p><%= edit_text(@page, 'home_page_quote_body') %></p>
          </div>
          <div class="testimonial-author clearfix">
            <span class="testimonial-photo"><%= image_tag 'voyo/demo/t-102.jpg', alt: 'author' %></span>
            <div class="testimonial-author-info">
              <h4><%= edit_text(@page, 'home_page_quote_name', 'John Smith') %></h4>
              <p>
                <%= edit_text(@page, 'home_page_quote_job_title', 'Software Engineer') %>
                &nbsp; -- &nbsp;
                <%= edit_link(@page, 'home_page_quote_company', 'Google', 'http://google.com') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
