<section class="section-4">
  <div class="container">
    <%= form_for @job_location, class: 'form' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, auto_focus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Create' %>
      </div>
    <% end %>
  </div>
</section>
