<section class="page-login section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <div class="well well-6 login-area mb0">

          <%= render 'layouts/flash' %>

          <h2 class="section-title-2 st-2 mb20">Login</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form form-2' }) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', required: '' %>

            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: :off, required: '', class: 'form-control' %>

            <label class="remember">
              <%= f.check_box :remember_me %> Remember me
            </label>

            <div>
              <%= f.submit "Login", class: 'btn voyo-btn-2 rounded' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
