<section class="section-4">
  <div class="container">
    <%= form_for [@product, @product_image], class: 'form' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :alt_text %>
      <%= f.text_field :alt_text, auto_focus: true, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>

      <%= f.submit 'Add Image' %>
    <% end %>
  </div>
</section>
