<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page_title @page_title %></title>
  <link rel='stylesheet' href='//fonts.useso.com/css?family=Open+Sans:300,400,400italic,600,700|Raleway:300,400,500,600'>

  <%= render 'layouts/blog_meta_info' if on_page('blog_articles', 'show') %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= 'admin-signed-in' if user_signed_in? %> <%= 'admin-page' if on_admin_page? %>">

<%= render 'layouts/sidebar' if user_signed_in? %>

<div id="body">
  <% if on_page('blog_articles', 'show') && !@blog_article.is_published %>
    <div id="wrapper" class="unpublished">
  <% else %>
    <div id="wrapper">
  <% end %>

    <% if !on_page('sessions', 'new') %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/page_header' if !current_page?(root_url) %>

      <div class="container">
        <%= render 'shared/flash_messages' %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' unless on_page('sessions', 'new') %>
  </div>
</div>

<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
<%= javascript_include_tag 'application' %>

</body>
</html>
